body {
    background-color: #efefef;
    font-family: sans-serif;
}

h1 {
    color: blue;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

li {
    font-size: 20px;
}
