/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR: #097f5b
GREY COLOR: #343a40
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    line-height: 1;
    color: #343a40;
    font-size: 24px;
    height: 100vh;
    text-align: center;
    font-weight: bold;

    display: grid;
    grid-template-columns: 80px 400px 1fr 250px;
    grid-template-rows: 80px 1fr;
}

nav, section, main, aside {
    padding-top: 24px;
}

nav {
    background-color: #343a40;
    color: #fff;
    grid-row: 1 / -1;
}

menu {
    background-color: #7078e8;
    color: #fff;
    grid-column: 2 / -1;
    padding: 0 40px;

    display: flex;
    align-items: center;
    gap: 12px;
}

button:last-child {
    background-color: #d6336c;
    margin-left: auto;
}

button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background-color: #5f3dc4;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 8px 12px;
}

section {
    background-color: #e9ecef;
    padding: 40px;

    overflow: scroll;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.email {
    background-color: #adb5bd;
    height: 96px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

aside {
    background-color: #e9ecef;
}